# api

api/membership/build/*.zip
api/applications/build/*.zip

#services

services/notification/build/*.zip

# ui

ui/node_modules
ui/package-lock.json
ui/out
ui/.next
ui/next-env.d.ts
ui/.env*
ui/build
